<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <title>Login Page - Recup Mdp</title>
</head>

<body>
    <header>
		<figure>
            <img class="UserImage" src="" alt="" height="80px;" width="80px;"/>
            <figcaption>Logo</figcaption>
		</figure>
    </header>


    <section class="recupmdp">
        <h1>Vous avez oublié votre mot de passe?</h1>
        <form class="loginrecup">
            <p>
                <label for="emailrecup">Entrez votre adresse email</label>
                <br/>
                <input placeholder="Email" />
            </p>
            <button class="btn btn-primary" type="submit">Envoyer</button>
        </form>
        <a class="btn btn-outline-secondary" href="../login/login.html" role="button">Se connecter</a>
    </section>
</body>

</html>