<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="styles.css">
    <title>User Page FAQ</title>
</head>

<body>
	<header>		
		<figure>
			<a href="../user_profil/user_profil.html" class="UserName" >
				<img class="UserImage" src="" alt="" height="80px;" width="80px;"/>
			</a>
		</figure>
		<nav class="navPrincipale">
			<ul class="navigation">
				<li>
					<a href="../user_liste_cours/user_liste_cours.html">
						Cours
					</a>
				</li>
				<li>
					<a href="../user_faq/user_faq.html">
						FAQ
					</a>
				</li>
				<li>
					<a href="../Login/login.html"> 
						Logout
					</a>
				</li>
			</ul>
		</nav>
	</header>

	<section>
		<h1>FAQ</h1>
			<ul class="faq">
				<li>
					<!--  Possibilité d'un bouton sous forme d'input, afin de pouvoir clic sur l'input "Question 1" et d'avoir la réponse (ici "HiddenFAQ") déroulante sous l'input en question. DONC possible changement ou ajout dans cette <dt/> -->
					<h3>Question</h3>
					<p class="hidden">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
						quae consectetur ab saepe maiores voluptates nobis ipsum magni quo
						aliquid autem a, veritatis soluta sit voluptatum? Sunt, at
						consequuntur? Corrupti!
					</p>
				</li>
				<li>
					<!--  Possibilité d'un bouton sous forme d'input, afin de pouvoir clic sur l'input "Question 1" et d'avoir la réponse (ici "HiddenFAQ") déroulante sous l'input en question. DONC possible changement ou ajout dans cette <dt/> -->
					<h3>Question</h3>
					<p class="hidden">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
						quae consectetur ab saepe maiores voluptates nobis ipsum magni quo
						aliquid autem a, veritatis soluta sit voluptatum? Sunt, at
						consequuntur? Corrupti!
					</p>
				</li>
				<li>
					<!--  Possibilité d'un bouton sous forme d'input, afin de pouvoir clic sur l'input "Question 1" et d'avoir la réponse (ici "HiddenFAQ") déroulante sous l'input en question. DONC possible changement ou ajout dans cette <dt/> -->
					<h3>Question</h3>
					<p class="hidden">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
						quae consectetur ab saepe maiores voluptates nobis ipsum magni quo
						aliquid autem a, veritatis soluta sit voluptatum? Sunt, at
						consequuntur? Corrupti!
					</p>
				</li>
			</ul>
	</section>
</body>

</html>