<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <title>Login</title>
</head>

<body>

    <header>
		<figure>
            <img class="UserImage" src="" alt="" height="80px;" width="80px;"/>
            <figcaption>Logo</figcaption>
		</figure>
    </header>

    <section class="login">

        <h1>Connectez vous</h1>

        <form class="loginform">
            <p>
                <label for="email"></label>
                <input placeholder="Email" />
            </p>
            <p>
                <label for="password"></label>
                <input placeholder="Password" />
            </p>
            <button class="btn btn-primary" type="submit">Envoyer</button>
        </form>

        <a class="btn btn-outline-secondary" href="../login_forgot/login_forgot.html" role="button">Mot de passe oublié</a>

    </section>
</body>

</html>