<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="styles.css" />
	<title>Admin - FAQ</title>
</head>

<body>
	<header>		
		<figure>
			<a href="../admin_profil/admin_profil.html" class="UserName" >
				<img class="UserImage" src="" alt="" height="80px;" width="80px;"/>
			</a>
		</figure>
		<nav class="navPrnicipale">
			<ul class="navigation">
				<li>
					<a href="../admin_liste_cours/admin_liste_cours.html">
						Cours
					</a>
				</li>
				<li>
					<a href="../admin_faq/admin_faq.html">
						FAQ
					</a>
				</li>
				<li>
					<a href="../Login/login.html"> 
						Logout
					</a>
				</li>
			</ul>
		</nav>
	</header>

	<section>
		<h1>FAQ</h1>
			<ul class="faq">
				<li>
					<!--  Possibilité d'un bouton sous forme d'input, afin de pouvoir clic sur l'input "Question 1" et d'avoir la réponse (ici "HiddenFAQ") déroulante sous l'input en question. DONC possible changement ou ajout dans cette <dt/> -->
					<h3>Question</h3>
					<p class="hidden">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
						quae consectetur ab saepe maiores voluptates nobis ipsum magni quo
						aliquid autem a, veritatis soluta sit voluptatum? Sunt, at
						consequuntur? Corrupti!
					</p>
					<button id="modifier" class="btn btn-primary" type="submit">Modifier</button>
					<button id="delete" class="btn btn-primary" type="submit">Supprimer</button>
				</li>
				<li>
					<!--  Possibilité d'un bouton sous forme d'input, afin de pouvoir clic sur l'input "Question 1" et d'avoir la réponse (ici "HiddenFAQ") déroulante sous l'input en question. DONC possible changement ou ajout dans cette <dt/> -->
					<h3>Question</h3>
					<p class="hidden">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
						quae consectetur ab saepe maiores voluptates nobis ipsum magni quo
						aliquid autem a, veritatis soluta sit voluptatum? Sunt, at
						consequuntur? Corrupti!
					</p>
					<button id="modifier" class="btn btn-primary" type="submit">Modifier</button>
					<button id="delete" class="btn btn-primary" type="submit">Supprimer</button>
				</li>
				<li>
					<!--  Possibilité d'un bouton sous forme d'input, afin de pouvoir clic sur l'input "Question 1" et d'avoir la réponse (ici "HiddenFAQ") déroulante sous l'input en question. DONC possible changement ou ajout dans cette <dt/> -->
					<h3>Question</h3>
					<p class="hidden">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
						quae consectetur ab saepe maiores voluptates nobis ipsum magni quo
						aliquid autem a, veritatis soluta sit voluptatum? Sunt, at
						consequuntur? Corrupti!
					</p>
					<button id="modifier" class="btn btn-primary" type="submit">Modifier</button>
					<button id="delete" class="btn btn-primary" type="submit">Supprimer</button>
				</li>
			</ul>
		
		<form class="addfaq">
			<input type="text" placeholder="Question" required/>
			<input type="text" placeholder="Reponse" required/>
			<button id="ajouter" class="btn btn-primary" type="submit">Ajouter</button>
		</form>
	</section>
</body>

</html>