* {
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	background: #ffdcbe;
	margin: 1em;
}

header {
	border-radius: 6px;
	background:#ffc491 ;
	width: 100%;
}

header nav ul {
	display: flex;
	justify-content: flex-end;
	flex-flow: row wrap;
}

header nav ul li {
	padding: 1em;
	text-align: center;
	list-style-type: none;
}

li {
	list-style-type: none;
}

li a{
	color: rgb(0, 0, 0);
}


/*
CONTENT
*/
section {
	display: flex;
	flex: 1;
	margin: 1em 0;
}

aside {
	flex-basis: 20%;
	border-radius: 6px;
	background: #f39c12;
	margin: 0 1em 0 0;
	padding: 1em;
}

section div{
	flex-basis: 80%;

}

article {
	vertical-align: top;
	border-radius: 6px;
	background: #dddd88;
	padding: 1em;
}
article:first-of-type{
	margin: 0 0 1em 0;
}
