/*--------------- Fichier_cours_admin_(showBladephp).scss ---------------*/

.section_page_cours {
    .aside_page_cours {
        .drag-container {
            .draggable {
                background-color: $smoke;
                border-radius: 5px;
                margin: 0.7em 0;
                padding: 0.5em;
                border: 2px solid $gray;
                a {
                    color: $gray;
                    text-decoration: none;
                    &:hover {
                        color: $main;
                    }
                }
                form {
                    display: flex;
                    justify-content: flex-start;
                    #delete {
                        margin: 0;
                        border: 1px solid $lightgray;
                        padding: 0.5em;

                        i::after {
                            content: 'Supprimer le module';
                            font-size: 0.9rem;
                            font-weight: normal;
                        }
                    }
                }

                div {
                    display: flex;
                    justify-content: space-between;
                    align-content: center;
                    a {
                        text-align: center;
                    }

                    #modifier {
                        margin: 0;
                        padding: 0.3em;
                    }
                }
            }
            .draggable:hover,
            .draggable:focus {
                background-color: $lightgray;
            }
        }

        #addModule {
            padding: 3% 0;
            div.ck-blurred.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline,
            div.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-focused {
                height: 20vh;
            }
            div.ck.ck-reset.ck-dropdown__panel.ck-dropdown__panel_sw.ck-dropdown__panel-visible {
                width: 25vh;
            }
            textarea {
                max-width: 100%;
                min-width: 100%;
                min-height: 100px;
                max-height: 100px;
                resize: none;
            }
            input {
                width: 100%;
            }
        }
    }

    .session {
        .module {
            width: 100%;
            #form-module {
                #edit-titre,
                #edit-video {
                    margin: 2%;
                }
                #edit-desc {
                    padding: 2%;
                    width: 100%;
                }
            }
        }
    }
}

button #open-modal-user {
    z-index: 100;
}

.close-div {
    ::marker {
        color: rgb(245, 245, 245);
    }
}

@media #{$mobile} {
    .section_page_cours {
        .aside_page_cours {
            #addModule {
                div {
                    padding: 2% 1%;
                }
            }
        }
    }
}

.coursName_titre {
    padding: 1em;
}

/*--------------- Fichier_cours_admin_(showBladephp).scss - FIN ----------*/
