/*--------------- Fichier _faq.scss ---------------*/

.faq {
    padding: 1%;
    li {
        list-style-type: none;
        details {
            display: flex;
            .faq_question {
                padding: 1%;
                color: $gray;
                border-radius: 5px;
                font-weight: 700;
                background-color: $superlightgray;
                cursor: pointer;
                &:hover {
                    color: $main;
                }
            }
            .faq_question_hidden {
                padding: 2%;
                padding-left: 5%;
            }
            summary {
                list-style: none;
                outline: none;
            }
            summary::-webkit-details-marker {
                display: none;
            }
        }
        details[open] > summary::after {
            font-family: "FontAwesome";
            position: relative;
            float: right;
            content: "\f068";
        }
        details > summary::after {
            font-family: "FontAwesome";
            position: relative;
            float: right;
            content: "\f067";
        }
    }
}

/*--------------- Fichier _faq.scss - FIN ----------*/
