header nav.navPrincipale {
    ul {
        margin: 1% auto;
        padding: 1%;
        border-radius: 5px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        list-style-type: none;
        justify-content: space-between;
        background-color: $white;
        li {
            flex-basis: 10%;
            cursor: pointer;
            &:first-of-type{
                flex: 2;
            }
            img.logo {
                text-align: left;
                width: 210px;
                position: relative;
                left: -27px;
            }
            i {
                font-size: 23px;
                color: $main;
            }
            a {
                display: flex;
                text-decoration: none;
                text-transform: uppercase;
                color: $main;
                &:hover {
                    color: $gray;
                }
            }
            figure {
                display: flex;
                width: 100%;
            }
            &:hover ul.sous {
                display: block;
                max-height: 50em;
            }
            ul.sous {
                display: none;
                position: absolute;
                width: 120px;
                margin-top: 0px;
                padding: 10px;
                li p {
                    font-size: 0.7em;
                }
            }
        }
    }
}

.items {
    position: relative;
    width: auto;
    text-align: center;
    order: 3;
    &::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 5px;
        height: 2px;
        width: 100%;
        opacity: 0;
        transition: all 0.2s linear;
    }
    &:hover::after {
        opacity: 5;
        bottom: 1px;
    }
}
.burger {
    display: none;
}
li.btn{
    display:none;
}
.hide i:before {
    content: "\f00d";
}
li:nth-child(5), li.hide:nth-last-child(2){
    display: none;
}

/* VERSION MOBILE */
@media #{$mobile} {
    nav {
        ul {
            display:flex;
            flex-flow: column wrap;
            width: 100%;
            li.items {
                width: 100%;
                display: none;
            }
            li.items.show {
                display: block;
                flex-basis: 100%;
            }
            li.burger {
                display: block;
            }
            li {
                figure img{
                    display: none;
                }
            }
        }
    }
    li:nth-child(3){
        display: none;
    }
    li:nth-child(4){
        display: block;
    }
    .sous {
        margin-top: 5px;
        margin-left: 150px;
        display: block;
    }
}
