
/*--------------- Fichier _user.scss ---------------*/
.listecours{
	width: 100%;
    padding: 4%;
	thead{
		background-color: $lightgray;
		tr th{
			padding: 1%;
			&:nth-of-type(1){
				text-align: left;
				font-weight: bolder;
			}
			&:nth-of-type(2 + 1n){
				text-align: center;
				width: 12%;
			}
		}
	}
	tbody tr{
		&:hover td a, &:hover td p{
			color: $main;
		}
		td{
			padding: 1%;
			border-bottom: 1px solid $lightgray;
			a {
				text-decoration: none;
				color: $gray;
			}
			p {
				text-align: center;
				color: $gray;
			}
		}
		&:hover {
			background-color: $superlightgray;
		}
	}
}

/*--------------- Fichier _user.scss - FIN ----------*/

