
/*--------------- Fichier _user.scss ---------------*/
table{
	thead{
		background-color: $lightgray;
		tr th{
			padding: 1%;
		}
	}
	tbody tr{
		td{
			padding: 0 1%;
			a {
				text-decoration: none;
				color: $main;
			}
		}
		&:hover {
			background-color: $superlightgray;
		}
	}
}



th:nth-of-type(1),
td:nth-of-type(1) {
	text-align: left;
}

th:nth-of-type(2),
th:nth-of-type(3) {
	width: 12%;
	text-align: center;
}

tbody p {
	color: rgb(167, 167, 167);
	text-align: center;
}

.listecours {
	width: 100%;
    padding: 2%;
}
// Tout s'affiche "perfect" quand on vire le "display: flex;" de la partie "section" et qu'on active les deux parties du bas.


/*--------------- Fichier _user.scss - FIN ----------*/

