@import 'variables';
@import 'nav';
@import 'user';
@import 'profil';
@import 'faq';
@import 'cours';
@import 'login';
@import 'footer';
@import 'mentions';
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&family=Open+Sans:wght@300;400;600&display=swap%27');


// GLOBAL STRUCTURE
*{
	box-sizing: border-box;
	margin: 0px;
   	padding: 0px;
}

body{
	min-height: 100vh;
	background-color: $background;
	width: 90%;
	margin: 0 auto;
	color: $main;
}

section{
	height: auto;
	padding: 1%;
	background-color: $white;
	border-radius: 5px;
	margin: 0 auto;
}

// TYPO
p, td, li, a, button, content{
	font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: normal;
	line-height: $line-height-base;
	text-align: left;
}
h1, h2, h3, h4, tr, .navPrincipale a{
	font-family: $font-family-title;
	font-size: $font-size-title;
	font-weight: bold;
	line-height: $line-height-title;
	text-align: center;
	padding: 1%;
}
h1{
	text-align: left;
	font-size: $font-size-titleone;
}
button, button a{
	text-decoration: none;
	line-height: $line-height-button;
}



// BOUTONS
button{
	padding: 0.6em;
	margin: 1em 1em 1em 0;
	border-radius: 4px;
	text-decoration: none;
	text-align: center;
	background-color: $white;
	cursor: pointer;
	outline: none;
	color: $btn-basic;
	border: 2px solid $btn-basic;
	a{
		display: block;
		color: $btn-basic;
		&:hover, &:focus{
			color: $white;
		}
	}
	&:hover, &:focus{
		background-color: $btn-basic-dark;
		color: $white;
	}
   &:active{
	   background-color: $btn-update-dark;
   }
}
#ajouter{
	color: $btn-add;
	border: 2px solid $btn-add;
	&:hover, &:focus{
		background-color: $btn-add;
		color: $white;
	}
	&:active{
	  background-color: $btn-add-dark;
	}
}
#supprimer{
	color: $btn-delete;
	border: 2px solid $btn-delete;
	&:hover, &:focus{
		background-color: $btn-delete;
		color: $white;
	}
	&:active{
	  background-color: $btn-delete-dark;
	}
}
#modifier{
	color: $btn-update;
	border: 2px solid $btn-update;
	&:hover, &:focus{
		background-color: $btn-update;
		color: $white;
	}
   &:active{
	   background-color: $btn-update-dark;
   }
}







// INPUT
form{
	p{height: 50px;}
	input{
   	 width: 300px;
   	 padding: 10px 10px 10px 0;
   	 border: none;
   	 border-bottom: 2px solid $lightgray;
   	 outline: none;
		&:focus{border-bottom: 2px solid $purple;}
	}
}