@import 'variables';
@import 'nav';
@import 'user';
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&family=Open+Sans:wght@300;400;600&display=swap%27');


// GLOBAL STRUCTURE
*{
	box-sizing: border-box;
}

body{
	padding: 2%;
	width: 100vw;
	min-height: 100vh;
	background-color: $background;
	color: $main;
}

header{
	height: 15vh;
	padding: 2%;
	justify-content:space-between;
	display: flex;
}


section{
	height: auto;
	padding: 2%;
	/*display: flex;
	flex-flow: row wrap;*/
	article{
		flex-basis: auto;
	}
	aside{
		flex-basis: 20%;
	}
}



// TYPO
p{
	font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: normal;
	line-height: $line-height-base;
}
h1{
	font-family: $font-family-title;
	font-size: $font-size-title;
	font-weight: normal;
	line-height: $line-height-title;
}



// BOUTONS
button{
	padding: 0.8em;
	border-radius: 4px;
	text-decoration: none;
	text-align: center;
	background-color: $white;
	cursor: pointer;
	outline: none;
	transition:.2s ease;
	#ajouter{
		color: $btn-add;
		border: 2px solid $btn-add;
		&:hover, &:focus{
			background-color: $btn-add;
		}
		&:active{
		  background-color: $btn-add-dark;
		}
	}
	#supprimer{
		color: $btn-delete;
		&:hover, &:focus{
			background-color: $btn-delete;
		}
		&:active{
		  background-color: $btn-delete-dark;
	   }
	}
	#modifier{
		color: $btn-update;
		&:hover, &:focus{
			background-color: $btn-update;
		}
	   &:active{
		   background-color: $btn-update-dark;
	   }
	}
	&:focus{
		color: $white;
	}
	&:active{
		transform: scale(0.95);
	}
}
	
form .profil button{
	width: auto;
	margin: 0;
}
	




// INPUT
form{
	p{height: 50px;}
	label{display: none;}
	input{
   	 width: 300px;
   	 padding: 10px 10px 10px 0;
   	 border: none;
   	 border-bottom: 2px solid light gray;
   	 outline: none;
		&:focus{border-bottom: 2px solid $indigo;}
	}
}