/* Merci de conserver le nom de ces classes afin que le JS continue de fonctionner */
.drag-container {
    width: 25%;
    overflow-x: hidden;
    background-color: lightgrey;
    padding: 5px;
}

.draggable {
    background-color: #333;
    color: white;
    padding: 1px;
    cursor: move;
    margin-bottom: 15px;
}

.draggable.dragging {
    opacity: .5;
}

.form-modules {
    display: none;
}

.form-modules.show {
    display: block;
}