@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;

500&family=Open+Sans:wght@300;400;600&display=swap%27);/*
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
*/
header nav.navPrincipale ul {
  margin: 1% auto;
  padding: 1%;
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
  background-color: #ffffff;
}

header nav.navPrincipale ul li {
  flex-basis: 10%;
  cursor: pointer;
}

header nav.navPrincipale ul li img.logo {
  text-align: left;
  width: 210px;
  position: relative;
  left: -27px;
}

header nav.navPrincipale ul li:first-of-type {
  flex-basis: 60%;
  cursor: default;
}

header nav.navPrincipale ul li i {
  font-size: 23px;
  color: #000000;
}

header nav.navPrincipale ul li a {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

header nav.navPrincipale ul li a:hover {
  color: #4A3DC3;
}

header nav.navPrincipale ul li figure {
  display: flex;
  width: auto;
}

header nav.navPrincipale ul li figure img {
  width: 120px;
}

header nav.navPrincipale ul li:hover ul.sous {
  display: block;
  max-height: 50em;
}

header nav.navPrincipale ul li ul.sous {
  display: none;
  position: absolute;
  width: 120px;
  margin-top: 0px;
  padding: 10px;
}

header nav.navPrincipale ul li ul.sous li p {
  font-size: 0.7em;
}

.items {
  position: relative;
  width: auto;
  text-align: center;
  order: 3;
}

.items::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  opacity: 0;
  transition: all 0.2s linear;
}

.items:hover::after {
  opacity: 5;
  bottom: 1px;
}

.burger {
  display: none;
}

.hide i:before {
  content: "\F00D";
}

/* VERSION MOBILE */

@media all and (max-width: 900px) {
  nav ul li.items {
    width: 100%;
    display: none;
  }

  nav ul li.items.show {
    display: block;
  }

  nav ul li.burger {
    display: block;
  }

  nav ul li figure {
    display: block;
  }

  .sous {
    margin-top: 5px;
    margin-left: 150px;
  }
}

/*--------------- Fichier _user.scss ---------------*/

.listecours {
  width: 100%;
}

.listecours thead {
  background-color: #ececec;
}

.listecours thead tr th {
  padding: 1%;
}

.listecours thead tr th:nth-of-type(1) {
  text-align: left;
  font-weight: bolder;
}

.listecours thead tr th:nth-of-type(2 + 1n) {
  text-align: center;
  width: 12%;
}

.listecours tbody tr:hover td a,
.listecours tbody tr:hover td p {
  color: #000000;
}

.listecours tbody tr td {
  padding: 1%;
  border-bottom: 1px solid #ececec;
}

.listecours tbody tr td a {
  text-decoration: none;
  color: #808080;
}

.listecours tbody tr td p {
  text-align: center;
  color: #808080;
}

.listecours tbody tr:hover {
  background-color: #fafafa;
}

#modal {
  width: auto;
  height: 100%;
  text-align: center;
  background-color: #ffffff;
  border: 3px solid #808080;
  border-radius: 5px;
  padding: 4%;
  margin: 1%;
}

#modal i {
  cursor: pointer;
}

#modal form div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 1%;
}

#modal form div label {
  flex-basis: 100%;
}

/*--------------- Fichier _user.scss - FIN ----------*/

section .prof {
  padding: 4%;
}

section .prof button:first-of-type::after {
  content: ' Modifier';
}

form.userProfil {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

form.userProfil div {
  flex-basis: 49%;
}

form.userProfil div p {
  height: auto;
  padding: 10px;
}

form.userProfil div p label {
  width: 100%;
  height: 100px;
  line-height: 2;
}

form.userProfil div p label[for=currentPicture],
form.userProfil div p label[for=downloadPicture] {
  display: none;
}

form.userProfil div p input {
  width: 100%;
}

form.userProfil div p input[type=file] {
  border: none;
}

form.userProfil div p img {
  width: 180px;
  height: 180px;
  clear: both;
}

@media all and (max-width: 900px) {
  form.userProfil {
    width: 90%;
    justify-content: space-around;
    display: flex;
  }

  form.userProfil:not(button) {
    justify-content: flex-start;
  }

  form.userProfil div {
    flex-basis: 100%;
  }

  form.userProfil div:last-of-type {
    margin: 0;
    text-align: left;
  }
}

/*--------------- Fichier _faq.scss ---------------*/

.faq {
  padding: 1%;
}

.faq li {
  list-style-type: none;
}

.faq li details {
  display: flex;
}

.faq li details .faq_question {
  padding: 1%;
  color: #808080;
  border-radius: 5px;
  font-weight: 700;
  background-color: #ececec;
  cursor: pointer;
}

.faq li details .faq_question:hover {
  color: #000000;
}

.faq li details .faq_question_hidden {
  padding: 2%;
  padding-left: 5%;
}

.faq li details summary {
  list-style: none;
  outline: none;
}

.faq li details summary::-webkit-details-marker {
  display: none;
}

.faq li details[open] > summary::after {
  font-family: "FontAwesome";
  position: relative;
  float: right;
  content: "\F068";
}

.faq li details > summary::after {
  font-family: "FontAwesome";
  position: relative;
  float: right;
  content: "\F067";
}

/*--------------- Fichier _faq.scss - FIN ----------*/

/*--------------- Fichier _cours.scss ---------------*/

.section_page_cours {
  display: flex;
  flex: 1;
  margin: 0.5em 1em;
}

.section_page_cours .aside_page_cours {
  border-radius: 7px;
  height: auto;
  flex-basis: 25%;
  background-color: #ececec;
  margin: 0 1em 0 0;
  overflow-x: scroll;
  resize: both;
}

.section_page_cours .navSecondaire li {
  list-style-type: none;
}

.section_page_cours .navSecondaire li a {
  color: #808080;
  text-decoration: none;
}

.section_page_cours .navSecondaire li a:hover {
  color: #000000;
}

.section_page_cours .navSecondaire_coursName {
  padding: 1em;
}

.section_page_cours .navSecondaire_coursName li {
  list-style-type: none;
}

.section_page_cours article {
  flex-basis: 75%;
  background-color: #fafafa;
  border-radius: 5px;
}

iframe {
  width: 100%;
  display: block;
}

.session {
  padding: 1em;
}

.session article {
  margin-top: 1em;
}

@media all and (max-width: 900px) {
  .section_page_cours {
    display: block;
  }

  .section_page_cours .aside_page_cours {
    height: auto;
    width: 100%;
    background: #ececec;
  }

  .section_page_cours .navSecondaire_coursName {
    width: 100%;
  }
}

/*--------------- Fichier _cours.scss - FIN ----------*/

.p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.p .login {
  width: 50%;
  height: 70vh;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 4%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p .login div div {
  text-align: center;
  padding: 0 0 3% 0;
}

.p .login div form.loginform {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.p .login div form.loginform div {
  height: auto;
  padding: 10px;
  flex-basis: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.p .login div form.loginform div label {
  flex-basis: 100%;
  text-align: left;
}

.p .login div form.loginform div input {
  flex-basis: 100%;
}

.p .login div form.loginform div.remember {
  text-align: left;
  width: 100%;
}

.p .login div form.loginform div.remember label {
  width: 100%;
  text-align: left;
}

.p .login div form.loginform div.remember label input {
  text-align: left;
  width: auto;
}

.p .login div form.loginform div.remember label span {
  width: auto;
}

.p .login div form.loginform:last-of-type a {
  flex-basis: 100%;
  text-decoration: none;
  color: #808080;
}

.p .login div form.loginform:last-of-type a:hover,
.p .login div form.loginform:last-of-type a:focus {
  color: #000000;
}

.p .login div form.loginform:last-of-type button {
  align-items: flex-start;
}

.footer {
  background-color: #ffffff;
  padding: 1%;
  margin: 1% 0;
  border-radius: 5px;
}

div.footer h3 {
  display: none;
  text-align: left;
}

div.footer nav ul {
  display: flex;
  flex-flow: row wrap;
  padding: 1em;
}

div.footer nav ul li {
  padding: 0 2em 0 0;
  text-align: center;
  list-style-type: none;
}

div.footer nav ul li a {
  color: #000000;
  text-decoration: none;
}

div.footer nav ul li a:hover {
  color: #808080;
}

div.mentions {
  width: 98%;
  text-align: left;
}

div.mentions h1,
div.mentions h2,
div.mentions h3,
div.mentions h4 {
  text-align: left;
  padding: 1em 0;
}

div.mentions ul,
div.mentions ol {
  list-style-position: inside;
}

div.mentions p,
div.mentions ol,
div.mentions ul {
  padding: 0 2em;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 100vh;
  background-color: #f5f6f8;
  width: 90%;
  margin: 0 auto;
  color: #000000;
}

section {
  height: auto;
  padding: 1%;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 0 auto;
}

p,
td,
li,
a,
button,
content {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1.6;
  text-align: left;
}

h1,
h2,
h3,
h4,
tr,
.navPrincipale a {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.8;
  text-align: center;
  padding: 1%;
}

h1 {
  text-align: left;
  font-size: 1.3rem;
}

button,
button a {
  text-decoration: none;
  line-height: 1.4;
}

button {
  padding: 0.6em;
  margin: 1em 1em 1em 0;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
  color: #d4d4d4;
  border: 2px solid #d4d4d4;
}

button a {
  display: block;
  color: #d4d4d4;
}

button a:hover,
button a:focus {
  color: #ffffff;
}

button:hover,
button:focus {
  background-color: #c7c7c7;
  color: #ffffff;
}

button:active {
  background-color: #4236b0;
}

#ajouter {
  color: #3dc387;
  border: 2px solid #3dc387;
}

#ajouter:hover,
#ajouter:focus {
  background-color: #3dc387;
  color: #ffffff;
}

#ajouter:active {
  background-color: #36b07a;
}

#supprimer {
  color: #e92222;
  border: 2px solid #e92222;
}

#supprimer:hover,
#supprimer:focus {
  background-color: #e92222;
  color: #ffffff;
}

#supprimer:active {
  background-color: #dc1616;
}

#modifier {
  color: #4A3DC3;
  border: 2px solid #4A3DC3;
}

#modifier:hover,
#modifier:focus {
  background-color: #4A3DC3;
  color: #ffffff;
}

#modifier:active {
  background-color: #4236b0;
}

form p {
  height: 50px;
}

form input {
  width: 300px;
  padding: 10px 10px 10px 0;
  border: none;
  border-bottom: 2px solid #d4d4d4;
  outline: none;
}

form input:focus {
  border-bottom: 2px solid #4A3DC3;
}

