@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;

500&family=Open+Sans:wght@300;400;600&display=swap%27);/*
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
*/
header nav.navPrincipale ul {
  margin: 0 auto 2%;
  padding: 1%;
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
  background-color: #ffffff;
}

header nav.navPrincipale ul li {
  cursor: pointer;
}

header nav.navPrincipale ul li img.logo {
  text-align: left;
  width: 210px;
  position: relative;
  left: -27px;
}

header nav.navPrincipale ul li:first-of-type {
  flex-basis: 60%;
  cursor: default;
}

header nav.navPrincipale ul li i {
  font-size: 23px;
  color: #000000;
}

header nav.navPrincipale ul li a {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

header nav.navPrincipale ul li a:hover {
  color: #4A3DC3;
}

header nav.navPrincipale ul li figure {
  display: flex;
  width: auto;
}

header nav.navPrincipale ul li figure img {
  width: 120px;
}

header nav.navPrincipale ul li:hover ul.sous {
  display: block;
  max-height: 50em;
}

header nav.navPrincipale ul li ul.sous {
  display: none;
  position: absolute;
  width: 120px;
  margin-top: 0px;
  padding: 10px;
}

header nav.navPrincipale ul li ul.sous li p {
  font-size: 0.7em;
}

.items {
  position: relative;
  width: auto;
  text-align: center;
  order: 3;
}

.items::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  opacity: 0;
  transition: all 0.2s linear;
}

.items:hover::after {
  opacity: 5;
  bottom: 1px;
}

.burger {
  display: none;
}

.hide i:before {
  content: '\F00D';
}

/* VERSION MOBILE */

@media all and (max-width: 900px) {
  nav ul li.items {
    width: 100%;
    display: none;
  }

  nav ul li.items.show {
    display: block;
  }

  nav ul li.burger {
    display: block;
  }

  nav ul li figure {
    display: block;
  }

  .sous {
    margin-top: 5px;
    margin-left: 150px;
  }
}

/*--------------- Fichier _user.scss ---------------*/

.listecours {
  width: 100%;
}

.listecours thead {
  background-color: #d4d4d4;
}

.listecours thead tr th {
  padding: 1%;
}

.listecours thead tr th:nth-of-type(1) {
  text-align: left;
  font-weight: bolder;
}

.listecours thead tr th:nth-of-type(2 + 1n) {
  text-align: center;
  width: 12%;
}

.listecours tbody tr:hover td a,
.listecours tbody tr:hover td p {
  color: #000000;
}

.listecours tbody tr td {
  padding: 1%;
  border-bottom: 1px solid #d4d4d4;
}

.listecours tbody tr td a {
  text-decoration: none;
  color: #808080;
}

.listecours tbody tr td p {
  text-align: center;
  color: #808080;
}

.listecours tbody tr:hover {
  background-color: #ececec;
}

/*--------------- Fichier _user.scss - FIN ----------*/

section .prof {
  padding: 0;
}

section .prof button:first-of-type::after {
  content: ' Modifier';
}

form.userProfil {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

form.userProfil div {
  flex-basis: 49%;
}

form.userProfil div p {
  height: auto;
  padding: 10px;
}

form.userProfil div p label {
  width: 100%;
  height: 100px;
  line-height: 2;
}

form.userProfil div p label[for=currentPicture],
form.userProfil div p label[for=downloadPicture] {
  display: none;
}

form.userProfil div p input {
  width: 100%;
}

form.userProfil div p input[type=file] {
  border: none;
}

form.userProfil div p img {
  width: 180px;
  height: 180px;
  clear: both;
}

@media all and (max-width: 900px) {
  form.userProfil {
    width: 90%;
    justify-content: space-around;
    display: flex;
  }

  form.userProfil:not(button) {
    justify-content: flex-start;
  }

  form.userProfil div {
    flex-basis: 100%;
  }

  form.userProfil div:last-of-type {
    margin: 0;
    text-align: left;
  }
}

/*--------------- Fichier _faq.scss ---------------*/

.faq {
  margin: 10px 5px 10px 5px;
  padding: 10px 5px 10px 5px;
}

.faq li {
  list-style-type: none;
}

.faq li details .faq_question {
  font-weight: 700;
  margin: 10px 5px 10px 5px;
  padding: 10px 5px 10px 5px;
  cursor: pointer;
}

.faq li details .faq_question_hidden {
  padding: 0px 30px;
}

.faq li details summary {
  list-style: none;
  outline: none;
}

.faq li details summary::-webkit-details-marker {
  display: none;
}

/*--------------- Fichier _faq.scss - FIN ----------*/

/*--------------- Fichier _cours.scss ---------------*/

.section_page_cours {
  display: flex;
  flex: 1;
  margin: 0.5em 1em;
}

.section_page_cours .aside_page_cours {
  height: auto;
  flex-basis: 25%;
  background: #d4d4d4;
  margin: 0 1em 0 0;
}

.section_page_cours .navSecondaire_coursName {
  flex-basis: 75%;
}

.section_page_cours .navSecondaire_coursName article:first-of-type {
  margin: 0 0 1em 0;
}

.section_page_cours .navSecondaire li {
  list-style-type: none;
}

.navSecondaire_coursName {
  padding: 1em;
}

.navSecondaire_coursName li {
  list-style-type: none;
}

.module_page_cours {
  width: 450px;
}

@media all and (max-width: 900px) {
  .section_page_cours {
    display: block;
  }

  .section_page_cours .aside_page_cours {
    height: auto;
    width: 100%;
    background: #d4d4d4;
  }

  .section_page_cours .navSecondaire_coursName {
    width: 100%;
  }
}

/*--------------- Fichier _cours.scss - FIN ----------*/

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 100vh;
  background-color: #f5f6f8;
  width: 90%;
  margin: 0 auto;
  color: #000000;
}

section {
  height: auto;
  padding: 4%;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 0 auto;
}

section article {
  flex-basis: auto;
}

section aside {
  flex-basis: 20%;
}

p,
td,
li,
a {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1.6;
  text-align: left;
}

h1,
h2,
h3,
tr,
.navPrincipale a {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.8;
  text-align: center;
}

h1 {
  text-align: left;
  margin: 0 0 2% 0;
}

button,
button a {
  text-decoration: none;
  line-height: 1.4;
}

button {
  padding: 0.8em;
  margin: 1%;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
}

#ajouter {
  color: #82e922;
  border: 2px solid #82e922;
}

#ajouter:hover,
#ajouter:focus {
  background-color: #82e922;
  color: #ffffff;
}

#ajouter:active {
  background-color: #75dc16;
}

#supprimer {
  color: #e92222;
  border: 2px solid #e92222;
}

#supprimer:hover,
#supprimer:focus {
  background-color: #e92222;
  color: #ffffff;
}

#supprimer:active {
  background-color: #dc1616;
}

#modifier {
  color: #ffae18;
  border: 2px solid #ffae18;
}

#modifier:hover,
#modifier:focus {
  background-color: #ffae18;
  color: #ffffff;
}

#modifier:active {
  background-color: #fea500;
}

form p {
  height: 50px;
}

form input {
  width: 300px;
  padding: 10px 10px 10px 0;
  border: none;
  border-bottom: 2px solid #d4d4d4;
  outline: none;
}

form input:focus {
  border-bottom: 2px solid #4A3DC3;
}

